{% extends "base.html" %}
{% load static %}
{% block content %}
<header>
		<h3> </h3>
</header>
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <div class="l-box">
        	<h1>   </h1>
            <h1 class="content-subhead">Cartoleiros da Liga</h1>
            <h2>  </h2>
        </div>
    </div>
</div>
{% for cartola in cartolas %}
  	<a>
  		{% if cartola.image %}
  			<img src="{{ cartola.image.url }}" />
  		{% else %}
  			<img src="http://placehold.it/420x250"</a>
  		{% endif %}
  	</a>  
{% endfor %}
{% endblock %}
