{% extends "base.html" %}
{% load static %}
{% block content %}
			<!-- Banner -->
				<section id="banner">
					<header>
						<h2>Bem vindo ao Cartola UEFA MANTIMENTO CUP!</h2>
						<p>Taxa de inscrição da Liga 2018: R$40,00. Os 8 últimos colocados em cada rodada pagam R$5,00!</p>
					</header>
				</section>

			<!-- Intro -->
				<section id="intro" class="container">
					<div class="row">
						<div class="4u 12u(mobile)">
							<section class="first">
								<img src="{% static 'media/imagem-jardel.png' %}"  alt="" aling="middle" /></a>
								<header>
									<h2>Maior Devedor!</h2>
								</header>
								<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
							</section>
						</div>
						<div class="4u 12u(mobile)">
							<section class="middle">
								<img src="{% static 'media/imagem-maresia.png' %}"  alt="" aling="middle" /></a>
								<header>
									<h2>Último colocado!</h2>
								</header>
								<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
							</section>
						</div>
						<div class="4u 12u(mobile)">
							<section class="last">
								<img src="{% static 'media/imagem-reneojr.png' %}"  alt="" aling="middle" /></a>
								<header>
									<h2>Mais pobre da Liga!</h2>
								</header>
								<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
							</section>
						</div>
					</div>
					<footer>
						<ul class="actions">
							<li><a href="#" class="button big">Get Started</a></li>
							<li><a href="#" class="button alt big">Learn More</a></li>
						</ul>
					</footer>
				</section>

		</div>
	</div>
			<div class="row">
				<div class="12u">
{% endblock %}